@import url(https://fonts.googleapis.com/css?family=PT+Sans);

@font-face {
    font-family: "Nirmala UI";
    src: url("/fonts/NirmalaS.ttf");
}

@font-face {
    font-family: "Nirmala UI";
    src: url("/fonts/Nirmala_0.ttf");
	font-weight: bold;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
	font-family: "Nirmala UI", sans-serif;
	padding-top: 50px;
	padding-bottom: 20px;
	color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-default {
	background-color: #033AAE;
	/*border-color: #033AAE;*/
	border: none;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

td.td-label {
    width: 150px;
    font-weight: bold;
}

thead {
	background-color: #d9edf7;
}

.navbar-nav>li {
	border-left: 1px solid #032876;
}

.navbar-nav>li:first-of-type {
	border-left: none;
}

ul.link-icon {
	list-style: none;
	margin: 15px auto 0px;
}

ul.link-icon > li {
	display: inline-block;
}

.link-icon > li > a {
	color: #555;
	font-size: 12px;
}

.link-icon > li {
	border-right: 1px solid #555;
	padding: 0px 3px;
	color: #555;
	width: 122px;
	margin-bottom: 15px;
}

.link-icon > li > a > i {
	font-size: 25px;
}

.link-icon > li:last-of-type {
	border-right: none;
}

.navbar-brand {
	padding: 5px;
}

.title {
	background-color: #0084FF;
	font-weight: bold;
	padding: 10px;
	color: #FFFFFF;
}

.sub-title {
	background-color: #A2D2FF;
	font-weight: bold;
	padding: 10px;
	color: #134A80;
	margin: 0;
}

.text-orange {
	color: #FF4E00;
}

.text-blue {
	color: #0077FA;
}

.btn-orange {
	background-color: #FF4E00;
	color: #fff;
}

.btn-blue {
	background-color: #0077FA;
	color: #fff;
}

.thumbnail, .img-thumbnail {
	border: none;
	padding: 0;
	/*margin-bottom: 0;*/
	background: rgb(71,193,228);
	border-radius: 0;
}

.thumbnail .caption {
	position: absolute;
    top: 0;
    left: 15px;
	padding-right: 15px;
	/*color: yellow;*/
	color: #FFF;
}

.box-shadow {
	border:1px solid #FF4E00;
	padding:5px;
	border-radius: 3px;
	margin-bottom:10px;
}

.navbar-default .navbar-nav>li>a, .dropdown-menu>li>a {
	font-weight: bold;
	color: #FFFFFF;
}

.panel, .list-group-item:first-child, .list-group-item:last-child {
	border-radius: 0;
}

a.list-group-item {
	color: #033AAE;
	font-weight: bold;
}

.list-group-item {
	border-color: #8EC7FB;
}

.panel-orange>.panel-heading {
	background-color: #FF4E00;
	color: #fff;
	border-color: #FF4E00;
}

.panel-orange {
	border-color: #FF4E00;

}

.navbar-default .navbar-nav>li>a:hover,
.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li.active>a,
.dropdown-menu>li.active>a {
	color: #FFFFFF;
}

/* fix this */
.dropdown-menu>li:hover,
.navbar-default .navbar-nav>li:hover,
.navbar-default .navbar-nav>li.active,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover
 {
	background-color: #032876;
}

.nav-tabs>li>a {
	font-weight: bold;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.underlined {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

.underlined:last-of-type {
	border-bottom: none;
}


.col-md-4, .col-md-3 {
    /*padding:1px;*/
}

.alert {
	-webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
	border-radius: 0;
}

.thumbnail {
    margin-bottom:2px;
}

.video-block {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 270px;
	background: #000;
	opacity: 0.1;
}

a .video-block:hover {
  background: #333 url('/images/play-icon.png') no-repeat center;
  opacity: 0.8;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 1px;
  padding-left: 1px;
}

.panel-heading {
	border-radius: 0;
}
