@font-face {
    font-family: "Nirmala UI";
    src: url("/fonts/Nirmala_0.ttf");
}

/*@font-face {
    font-family: "Nirmala UI";
    src: url("/fonts/NirmalaB_0.ttf");
	font-weight: bold;
}*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
	font-family: "Nirmala UI", sans-serif;
	padding-top: 50px;
	padding-bottom: 0;
	color: #5a5a5a;
	background-color: #FFFFFF;
	height: 100%;
}

td.td-label {
    width: 150px;
    font-weight: bold;
}

.title {
	background-color: #0084FF;
	padding: 10px 15px;
	color: #FFFFFF;
	margin:0 -15px;
}

.sub-title {
	background-color: #A2D2FF;
	padding: 10px 15px;
	color: #134A80;
	margin:0 -15px;
}

.text-blue {
	color: #0077FA;
}

.btn-blue {
	background-color: #0077FA;
	color: #fff;
}

a.list-group-item {
	color: #337ab7;
	font-weight: bold;
}

.list-group-item {
	border-color: #8EC7FB;
}

.list-group-item.info:not(.active) {
	background-color: #D9EDF7;
}

.panel-orange>.panel-heading {
	background-color: #FF4E00;
	color: #fff;
	border-color: #FF4E00;
}

.panel-orange {
	border-color: #FF4E00;

}

.panel-title {
	font-weight: bold;
}

.nav-tabs>li>a {
	font-weight: bold;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.thumbnail {
    margin-bottom:2px;
}

.thumbnail > a > img {
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}

img.cover {
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}

.thumbnail, .img-thumbnail {
	border: none;
	padding: 0;
}

.thumbnail .caption {
	position: absolute;
    bottom: 0;
    left: 0;
	color: #FFFFFF;
}

.row-post.no-gutter {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: -15px;
  margin-left: -15px;
}

.row-post.no-gutter [class*='col-']:not(:first-child),
.row-post.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 1px;
  padding-left: 1px;
}
.form-control {
	border-radius: 0;
}

.search-field {
	border-radius:20px;
	background-image: url('/images/loop.png');
	background-repeat: no-repeat;
	background-position: 8px 49%;
	padding-left: 25px;
}

.panel-link a:hover {
	text-decoration: none;
}

.badge {
	font-weight: normal;
}

a:hover {
	text-decoration: none;
	color: #800000;
}

.form-horizontal .modal-body  .form-group {
	margin-left: 0;
	margin-right: 0;
}

.panel-blue {
	border-color: #3BAFDA;
}

.panel-blue .panel-heading {
	background-color: #3BAFDA;
	color: #FFF;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.carousel-control {
	color: #000;
}
.carousel-control:hover {
	color: #0084FF;
}

.badge {
	background-color: #337AB7;
}

.text-bold {
	font-weight: bold;
}

.row-post {
	padding:10px;
	margin-top: 0;
    margin-bottom: 0;
    margin-right: -15px;
    margin-left: -15px;
}

.row-post:not(:last-of-type) {
	border-bottom:1px solid #EEE;
}

.alert {
	margin:4px -10px;
}

img.media-object:not(.no-round) {
	border-radius: 50%;
	border: 1px solid #D9EDF7;
}

.panel:not(.note-editor) {
	margin: 0 -15px;
	border: none;
}

.panel-heading, .panel-body, .panel-footer, .panel {
	border-radius: 0;
}

.mobile-nav {
	background-color:#297FB9;
	height:50px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 998;
}

img {
	max-width: 100%;
}
