.dynamicTile .col-sm-2.col-xs-4{
    padding:0.5px;
}

.dynamicTile .col-sm-2.col-xs-6{
	padding:0.5px;
}

.dynamicTile .col-sm-4.col-xs-8{
    padding:0.5px;
}


.dynamicTile .col-sm-4.col-xs-12{
    padding:0.5px;
}

#tile4 {
	background: rgb(71,193,228);
}

#tile8 {
	background-color: #0084FF;
}

#tile10 {
	background: rgb(175,26,63);
}

.tile {
    background: rgb(50,93,233);
}

.tilecaption{
    position: absolute;
    top: 10px;
	left: 10px;
    /*color:#033AAE;*/
    color:#FFF;
}

.tilecaption a, .tilecaption a:hover {
	color: yellow;
	text-decoration: none;
}
