@font-face {
    font-family: "Nirmala UI";
    src: url("/fonts/Nirmala_0.ttf");
}

@font-face {
    font-family: "me_quran";
    src: url("/fonts/me_quran.ttf");
}

@font-face {
    font-family: "UthmanTN1Ver10";
    src: url("/fonts/UthmanTN1Ver10.otf");
}

@font-face {
    font-family: "UthmanTN1BVer10";
    src: url("/fonts/UthmanTN1BVer10.otf");
	font-weight: bold;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
	font-family: "Nirmala UI", sans-serif;
	padding-top: 50px;
	padding-bottom: 0;
	color: #5a5a5a;
}

.ayat {
	font-family: "UthmanTN1Ver10", serif;
	text-align: right;
	line-height: 1.8em;
	font-size: 22px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-default {
	background-color: #297FB9;
	border-color: #032876;
	border-bottom: none;
}

.dropdown-menu {
	background-color: #297FB9;
}

.dropdown-menu > li > a:hover {
	background-color: #032876;
}

.dropdown-menu > li {
	padding: 5px 0px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}

.navbar-nav>li {
	border-left: 1px solid #032876;
}

.navbar-nav>li:first-of-type {
	border-left: none;
}

.navbar-brand {
	margin-top: -10px;
}

.navbar-default .navbar-nav>li>a, .dropdown-menu>li>a {
	color: #FFFFFF;
}

.list-group-item.info:not(.active) {
	background-color: #D9EDF7;
}

.list-group-item.warning {
	background-color: #fcf8e3;
}

.list-group-item.danger {
	background-color: #f2dede;
}

.navbar-default .navbar-nav>li>a:hover,
.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li.active>a,
.dropdown-menu>li.active>a {
	color: #FFFFFF;
}

.dropdown-menu>li:not(.no-hover):hover,
.navbar-default .navbar-nav>li:not(.no-hover):hover,
.navbar-default .navbar-nav>li.active:not(.no-hover),
.navbar-default .navbar-nav>.active>a:not(.no-hover),
.navbar-default .navbar-nav>.active>a:not(.no-hover):focus,
.navbar-default .navbar-nav>.active>a:not(.no-hover):hover
{
	background-color: #032876;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	background-color: inherit;
	color: #FFFFFF;
}

.search-field {
	border-radius:20px;
	background-image: url('/images/loop.png');
	background-repeat: no-repeat;
	background-position: 8px 49%;
	padding-left: 25px;
}

.panel-link a:hover {
	text-decoration: none;
}

.badge {
	font-weight: normal;
}

a:hover {
	text-decoration: none;
	color: #800000;
}

.form-horizontal .modal-body  .form-group {
	margin-left: 0;
	margin-right: 0;
}

.footer {
	background-color: #efefef;
	padding: 40px 0 40px 0;
	margin-top: 20px;
}

.badge {
	background-color: #337AB7;
}

.text-bold {
	font-weight: bold;
}
