.dynamicTile .col-sm-2.col-xs-4{
    padding:0.5px;
}

.dynamicTile .col-sm-2.col-xs-6{
	padding:0.5px;
}

.dynamicTile .col-sm-4.col-xs-8{
    padding:0.5px;
}


.dynamicTile .col-sm-4.col-xs-12{
    padding:0.5px;
}

.tile {
    background: rgb(50,93,233);
}

#tile4 {
	background-image: url('/images/tanya-ustadz.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#tile7 {
	background-image: url('/images/salwa-peduli.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#tile10 {
	background-image: url('/images/salwa-info.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.tile:hover  {
  background: #333;
  opacity: 0.8;
}

.tilecaption {
    position: absolute;
    bottom: 10px;
	left: 10px;
    color:#FFFFFF;
}

.tilecaption h3, .tilecaption h4, .tilecaption h5 {
	font-size: 18px;
	margin: 0;
}

.tilecaption a, .tilecaption a:hover {
	color: yellow;
	text-decoration: none;
}

.carousel-inner > .item > a > img {
	filter: brightness(80%);
	-webkit-filter: brightness(80%);
}
